{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="openid">
    <div class="headbox">
        <span class="headtext">{% trans "Registration with OpenID: last step" %}</span>
    </div>
    <div class="formwrapper">
        {% include "publicauth/extra_form.html" %}
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function(){
            if (window.opener != null) {
                //opener.jQuery("#account-box").html($("#account-box").html());
                var parent = $(window.opener.document).find("#main .container");
                parent.html($("#main .container").html());
                /*
                * In IE7,8 bug found: form can't be parsed correct by jquery
                *
                var parent_form = parent.find(".formwrapper form");
                parent.find(".formwrapper").html("");
                parent.find(".formwrapper").append(parent_form);
                parent.find(".formwrapper form").html($(".formwrapper form").html());
                */
                window.opener.bindExtraForm();
                
                window.close();
            }

            $(".openid form").ajaxForm({
                success:   bindExtra  // post-submit callback
            });
        });
    </script>
{% endblock %}
