{% extends 'base.html' %}
{% load i18n %}

{% block javascript %}
    
{{ block.super }}

<script>
    $(function(){
        if (opener != null) {
            $.get("{% url index %}", function(data, textStatus, jqXHR) {
                window.opener.jQuery("#account-box").html(data.account);
                window.opener.jQuery("#main div.container").html(data.content);
                window.opener.bindUploadForm();
                window.close();
            }, "json");
        }
    });
</script>
{% endblock %}
