{% extends 'base.html' %}

{% load i18n %}

{% block page_class %}home-page{% endblock %}

{% block content %}

    {% include "ajax/index_content.html" %}
  
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function(){
            $(".doclist .meta a.preview").live("click", function(){
                var li = $(this).parents("li");
                var extra = li.find("div.extra");
                extra.html('');
                if ( !$(this).hasClass("opened") ) {
                    $(".doclist .meta a.opened").removeClass("opened");
                    li.animate({
                        width: "90%"
                    });
                    extra.append('<a href="#" class="close">Close Preview</a>');
                    extra.append('<iframe src="'+$(this).attr("href")+'" width="100%" height="740" style="border: none;"></iframe>');
                    extra.find("a.close").click(function(){
                        li.find(".meta a.preview").click();
                        return false;
                    });
                } else {
                    li.animate({
                        width: "50%"
                    });
                }
                $(this).toggleClass("opened");

                return false;
            });
            $(".doclist .meta a.share").live("click", function(){
                var li = $(this).parents("li");
                var extra = li.find("div.extra");
                extra.html('');
                if ( !$(this).hasClass("opened") ) {
                    $(".doclist .meta a.opened").removeClass("opened");
                    li.animate({
                        width: "90%"
                    });
                    extra.append('<a href="#" class="close">Close Share Form</a>');
                    extra.append('<div class="formwrapper"></div>');
                    var wrapper = extra.find(".formwrapper");
                    $.get($(this).attr("href"), function(data, textStatus, jqXHR) {
                        if (data) {
                            wrapper.html(data);
                            wrapper.find("form").ajaxForm({
                                success:   bindShare  // post-submit callback
                            });
                        }
                    });
                    extra.find("a.close").click(function(){
                        li.find(".meta a.share").click();
                        return false;
                    });
                } else {
                    li.animate({
                        width: "50%"
                    });
                }
                $(this).toggleClass("opened");

                return false;
            });
            $(".doc .remove").live("click", function(){
                var doc = $(this).parents("li.doc");
                $.get($(this).attr("href"), function(data, textStatus, jqXHR) {
                    if (data) {
                        doc.fadeOut('slow', function() { doc.remove();});
                    }
                }, "json");
                return false;
            });
            $("div.upload #toggle-visibility").live("click", function() {
                if ($(this).hasClass("closed")) {
                    $(this).removeClass("closed");
                    $(this).text("Hide");
                } else {
                    $(this).addClass("closed");
                    $(this).text("Show");
                }
                $("div.upload form").toggleClass("hidden");

            });
            $("div.upload form").ajaxForm({
                success:       bindUpload,  // post-submit callback
                dataType:  "json"        // 'xml', 'script', or 'json' (expected server response type)
            });

        });
    </script>
{% endblock %}