{% load i18n %}
<form method="post" enctype="multipart/form-data" action="." target="upload_frame" class="box {% if not visible %}hidden{% endif %}">
    {% csrf_token %}
    <formfield>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Upload" %}"/></p>
    </formfield>
</form>
<iframe id="upload_frame" style="display: none;" name="upload_frame"></iframe>
{% comment %}
<script>
    $(function() {
        $(".openid form").ajaxForm({
            success:   bindExtra  // post-submit callback
        });
    })
</script>
{% endcomment %}

